/* @media (max-width:1248px) {
  .energy-plant{

  width:100%;
  }
} */
/* .nitrates{

}
span{
vertical-align:top;
}
@media (max-width:1248px) {
.bda-mine-img{

width:70%;


}
}
@media (max-width:1248px) {
.nitrate-img{
width: 90%;

}
}
@media (max-width:1248px) {
.blast-para{


}
}
.BDA-img{
  margin-left: 30%;
  margin-top: 20%;
} */
